:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --boarding-color: rgb(247, 247, 247);
  --btn-background-color: rgb(19, 58, 76);
  --primary-font: "Roboto Mono", monospace, sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --branding-font: "Dancing Script", cursive, serif;
}

body.background-img {
  background: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

h1 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.5;
}

a.page-links {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 8px 10px;
}

button,
.logo {
  position: absolute;
  font-size: 20px;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  transition: all 500ms ease;
}

button:hover {
  background-color: var(--btn-background-color);
}

.header {
  color: var(--secondary-color);
  font-size: 55px;
  text-shadow: #000;

  font-weight: 600;
  margin-top: 20px;
}

p.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
  font-size: 20px;
  color: var(--secondary-color);
  font-family: var(--branding-font);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
}

a.nav-logo {
  font-size: 20px;
  color: var(--secondary-color);
  font-family: var(--branding-font);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
}

.about-btn {
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
}

.contact-btn {
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
}

.see-more-btn {
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}

/* Media Queries  */

@media screen and (max-width: 1024px) {
  .header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 25px;
  }

  button {
    font-size: 14px;
  }
}

@media screen and (max-width: 492px) {
  .header {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #000;
  }
}

@media screen and (max-width: 320px) {
  .header {
    font-size: 25px;
  }
}

/* About Page */

.image {
  width: 100vw;
  max-height: 700px;
}

.hero {
  background-color: var(--primary-color);
}

.about-desc {
  text-align: left;
  max-width: 400px;
  padding: 0 20px;
}

.internal-box,
.internal-icons {
  background-color: var(--boarding-color);
  margin-top: 10px;
}

.internal-icons {
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

/* Contact Page */

body.contact-img {
  background-image: url(/images/contact-img.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
